{% extends "auth/base.html" %}

{% block title %}
Sign In
{% endblock %}

{% block content %}
<h3 class="h3 mb-3 font-weight-normal">Sign in to your account</h3>
<hr>
<form method="post" class="form-signin">
    {{ form.csrf_token() }}
    {{ form.email.label(class_='sr-only') }}{{ form.email(placeholder='Email', class_='form-control') }}
    {{ form.password.label(class_='sr-only') }}{{ form.password(placeholder='Password', class_='form-control') }}
    <div class="checkbox mb-3">
        <!-- Ok, I just done this to wrap label around input, 'cause it seems impossible with WTForms -->
        <label for="remember_me">
            {{ form.remember_me }}
            Remember me
        </label>
    </div>
    {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
</form>
<form action="{{ url_for('signup') }}" class="form-signin">
    <button type="submit" class="btn btn-lg btn-secondary btn-block">Sign Up instead</button>
</form>
<hr>
<p>Open one account - All humans working for you.</p>
{% endblock %}