{% extends "auth/base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<h3>Create your account</h3>
<hr>
<form method="post" class="form-signup">
    {{ form.csrf_token() }}
    {{ form.full_name.label(class_='sr-only') }}{{ form.full_name(placeholder='Full name', id='full_name', class_='form-control') }}
    {{ form.username.label(class_='sr-only') }}{{ form.username(placeholder='Username', id='username', class_='form-control') }}
    {{ form.email.label(class_='sr-only') }}{{ form.email(placeholder='Email', class_='form-control') }}
    {{ form.password.label(class_='sr-only') }}{{ form.password(placeholder='Password', class_='form-control') }}
    {{ form.confirm.label(class_='sr-only') }}{{ form.confirm(placeholder='Repeat password', class_='form-control') }}
    {{ form.acc_type.label(class_='sr-only') }}{{ form.acc_type(placeholder='Account type',class_='form-control') }}<br>
    {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
</form>
<form method="get" action="{{ url_for('signin') }}" class="form-signin">
    <button type="submit" class="btn btn-lg btn-secondary btn-block">Sign In instead</button>
</form>
<hr>
<p>Open one account - All humans working for you.</p>
{% endblock %}