{% extends 'base.html' %}

{% block title %}
My account
{% endblock %}

{% block content %}
<div class="container" style="border: 2px dashed grey">
    <div class="row">
        <!-- Account Info -->
        <div class="col-lg">
            <h3>Summary</h3>
            <h4>Details</h4>
            <dl>
                <dt>Full name:</dt>
                <dd>{{ full_name }}</dd>
            </dl>
            <dl>
                <dt>Username:</dt>
                <dd>{{ username }}</dd>
            </dl>
            <dl>
                <dt>Email:</dt>
                <dd>{{ email }}</dd>
            </dl>
            <dl>
                <dt>Password:</dt>
                <dd><a href="#">Change password</a></dd>
            </dl>
            <hr>
            <h4>Preferences</h4>
            <dl>
                <dt>Account Type: <span style="font-weight:400">{{ acc_type }}</span></dt>
                <dd><a href="#">Change account type</a></dd>
            </dl>
            <!-- Provider or Network preferences -->
            {% if current_user_acc_type == 3 %}
            <dl>
                <dt>Provider name:</dt>
                <dd>{{ provider_info[0].name }}</dd>
            </dl>
            <dl>
                <dt>Endpoint:</dt>
                <dd>
                <form class="form-group" method="post">
                    {{ form.csrf_token() }}
                    {{ form.endpoint.label(class_='sr-only') }}{{ form.endpoint(class_='form-control', value=provider_info[0].endpoint) }}<br>
                    <div class="col-auto checkbox mb-3">
                     <!-- Ok, I just done this to wrap label around input, 'cause it seems impossible with WTForms -->
                        <label for="is_active">
                            {{ form.is_active(checked=provider_info[0].is_active) }}
                            Is active
                        </label>
                    </div>
                    <div class="col-auto checkbox mb-3">
                        <label for="is_test">
                            {{ form.is_test(checked=provider_info[0].is_test) }}
                            Is test
                        </label>
                    </div>
                    {{ form.submit(class_='btn btn-md btn-primary') }}
                </form>
                </dd>
            </dl>
            {% elif current_user_acc_type == 1 %}

            {% endif %}
            <hr>
        </div>

        <!-- Account Options -->
        {% if current_user_acc_type == 1 %}
        <div class="col-lg">
            <form action="{{ url_for('providers') }}" class="form-group">
                <button type="submit" class="btn btn-md btn-secondary btn-block" style="width:25%">Providers</button>
            </form>
            <form action="{{ url_for('publishers') }}" class="form-group">
                <button type="submit" class="btn btn-md btn-secondary btn-block" style="width:25%">Publishers</button>
            </form>
            <form action="{{ url_for('websites') }}" class="form-group">
                <button type="submit" class="btn btn-md btn-secondary btn-block" style="width:25%">Websites</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}