{% extends 'base.html' %}

{% block title %}
Ad Units
{% endblock %}

{% block content %}
<div class="container">
    <form class="form-group" action="{{ url_for('new_ad_unit') }}">
        <button type="submit" class="btn btn-primary">Create new ad unit</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Is active</th>
                <th scope="col">Is test</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for unit in all_ad_units %}
            <tr>
                <th scope="row">{{ unit.id }}</th>
                <th>{{ unit.name }}</th>
                <th>{{ unit.is_active }}</th>
                <th>{{ unit.is_test }}</th>
                <th><a href="{{ url_for('ad_unit', ad_unit_id=unit.id) }}">#</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}