{% extends 'base.html' %}

{% block title %}
Ad unit
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-group">
        <dl>
            <dt>Name</dt>
            <dd>
                <input class="form-control" type="text" value="{{ form.name.data }}" readonly>
            </dd>
        </dl>
        <dl>
            <dt>Endpoint</dt>
            <dd>
                <input class="form-control" type="text" value="{{ form.endpoint_hash.data }}" readonly>
            </dd>
        </dl>
        <dl>
            <dt>Ad publisher</dt>
            <dd>
                <input class="form-control" type="text" value="{{ form.ad_publisher.data.name }}" readonly>
            </dd>
        </dl>
        <dl>
            <dt>Format</dt>
            <dd>
                <input class="form-control" type="text" value="{{ form.format.data.name }}" readonly>
            </dd>
        </dl>
        <form method="post">
            {{ form.csrf_token() }}
            <div class="form-row">
                <div class="col-auto">
                    {{ form.javascript(class_='form-control') }}
                </div>
            </div>
            <div class="col-auto checkbox mb-3">
                <!-- Ok, I just done this to wrap label around input, 'cause it seems impossible with WTForms -->
                <label for="is_active">
                    {{ form.is_active }}
                    Is active
                </label>
            </div>
            <div class="col-auto checkbox mb-3">
                <label for="is_test">
                    {{ form.is_test }}
                    Is test
                </label>
            </div>
            {{ form.submit(class_='btn btn-primary') }}
        </form>
    </div>
</div>
{% endblock %}