{% extends 'base.html' %}

{% block title %}Control Panel{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {{ form.csrf_token() }}
        <div class="form-row">
            <div class="col-auto">
                {{ form.password.label(class_='sr-only') }}
                {{ form.password(placeholder='Confirm your identity', class_='form-control mb-2') }}
            </div>
        </div>
        {{ form.submit(class_='btn btn-primary') }}
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">IP</th>
                <th scope="col">ID</th>
                <th scope="col">Update</th>
                <th scope="col">Pull logs</th>
            </tr>
            </thead>
            <tbody>
                {% for k, v in instances.items() %}
                <tr>
                    <th scope="row">{{ k }}</th>
                    <th>{{ v['id'] }}</th>
                    <th><a href="{{ url_for('update_cache', ip=k }}">#</a></th>
                    <th><a href="{{ url_for('pull_logs', ip=k }}">#</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}