{% extends 'base.html' %}

{% block title %}
New ad unit
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {{ form.csrf_token() }}
        <div class="form-row">
            <div class="col-auto">
                {{ form.name.label(class_='sr-only') }}
                {{ form.name(placeholder='Ad unit name', class_='form-control mb-2') }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-auto">
                {{ form.ad_publisher.label(class_='sr-only') }}
                {{ form.ad_publisher(class_='form-control mb-2') }}
            </div>
            <div class="col-auto">
                {{ form.format.label(class_='sr-only') }}
                {{ form.format(class_='form-control mb-2') }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-auto">
                {{ form.code.label(class_='sr-only') }}
                {{ form.code(class_='form-control') }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-auto checkbox mb-3">
                <!-- Ok, I just done this to wrap label around input, 'cause it seems impossible with WTForms -->
                <label for="is_active">
                    {{ form.is_active }}
                    Is active
                </label>
            </div>
            <div class="col-auto checkbox mb-3">
                <label for="is_test">
                    {{ form.is_test }}
                    Is test
                </label>
            </div>
        </div>
        {{ form.submit(class_='btn btn-primary') }}
    </form>
</div>
{% endblock %}